<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alexchantastic.note</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>5745F248-5364-4630-AA46-48974662EACF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC82C20D-2E7D-4283-893E-50A4B327603F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1368CF2-AC52-46B4-BBBF-F29B43695D62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B69E38B-89C3-42E8-8A82-C5D5FB622560</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF2B6362-4EC7-40A7-8152-A6E355BAAC20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4B6A3B2-B43B-4A82-B051-23743BEEE10D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4B6A3B2-B43B-4A82-B051-23743BEEE10D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40DB08A0-D2D6-4D6B-B818-C909315984EE</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘↩ Save</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alex Chan</string>
	<key>description</key>
	<string>Add a note to a file</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Note</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>no</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A1368CF2-AC52-46B4-BBBF-F29B43695D62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>now=$(date +"$date_format")

echo "${now} ${1}" &gt;&gt; $file</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7B69E38B-89C3-42E8-8A82-C5D5FB622560</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ono</string>
				<key>subtext</key>
				<string>{var:file}</string>
				<key>text</key>
				<string>Open note</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5745F248-5364-4630-AA46-48974662EACF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:file}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>FC82C20D-2E7D-4283-893E-50A4B327603F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "${1}" &gt; $file</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>40DB08A0-D2D6-4D6B-B818-C909315984EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>1</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>⌘↩ Save ·  ↩ New line  ·  ⎋ Exit</string>
				<key>inputfile</key>
				<string>{var:file}</string>
				<key>inputtype</key>
				<integer>2</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>B4B6A3B2-B43B-4A82-B051-23743BEEE10D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vno</string>
				<key>subtext</key>
				<string>{var:file}</string>
				<key>text</key>
				<string>View note</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AF2B6362-4EC7-40A7-8152-A6E355BAAC20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>An Alfred 5 workflow for adding a note to a file.</string>
	<key>uidata</key>
	<dict>
		<key>40DB08A0-D2D6-4D6B-B818-C909315984EE</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>5745F248-5364-4630-AA46-48974662EACF</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>7B69E38B-89C3-42E8-8A82-C5D5FB622560</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>A1368CF2-AC52-46B4-BBBF-F29B43695D62</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>AF2B6362-4EC7-40A7-8152-A6E355BAAC20</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>B4B6A3B2-B43B-4A82-B051-23743BEEE10D</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>FC82C20D-2E7D-4283-893E-50A4B327603F</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The file to write notes to.</string>
			<key>label</key>
			<string>Note file</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>file</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>%Y-%m-%dT%H:%M:%S</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The date format to prefix the note with. See https://www.gnu.org/software/coreutils/manual/html_node/Date-format-specifiers.html for valid formats.</string>
			<key>label</key>
			<string>Date format</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>date_format</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/alexchantastic/alfred-note-workflow</string>
</dict>
</plist>
